@font-face {
  font-family: "barlow-light";
  src: url("assets/BarlowCondensed-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlow-regular";
  src: url("assets/BarlowCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcf7f0;
}
header {
  border: solid blue 1px;
  height: 10vh;
}
form {
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  row-gap: 2rem;
}
label {
  display: flex;
  flex-direction: column;
  font-family: "barlow-regular";
  font-size: 1.5rem;
  row-gap: 0.2rem;
}
input {
  height: 2rem;
  border-radius: 5px;
  border: solid 1px #707070;
  font-family: "barlow-light";
  font-size: 1.3rem;
  padding: 0.2rem;
}

.expiry-security {
  display: flex;
  column-gap: 2rem;
}
.expiryDateContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.expiryInputs {
  display: flex;
  column-gap: 0.5rem;
  font-size: 2rem;
}
.expiryInputs input,
.securityCode input {
  width: 4rem;
}
